<div *ngIf="ShowModal()" id="modal" class="modal" animate.enter="enter-animation-modal" animate.leave="leaving-animation-modal">
  <div class="modal-content">
    <h2 class="text-2xl font-bold mb-8">Leveringsbetingelser</h2>
    <button class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700" id="closeModal" (click)="toggle()">Close</button>
<h3>Fysiske varer</h3>
<p>
Levering sker med GLS eller DAO.<br>
Forventet leveringstid: [3-7 dage].
</p>
<p>
Levering sker til den adresse, du har angivet ved bestilling. Det er dit ansvar at sikre, at adressen er korrekt og fuldstændig. Vi påtager os ikke ansvar for forsinkelser eller tab, der skyldes forkerte eller ufuldstændige adresser.
</p>
<p>
Hvis du ikke er hjemme ved levering, vil GLS eller DAO efterlade en besked med instruktioner om, hvordan du kan afhente din pakke eller arrangere en ny levering. Det er vigtigt at følge disse instruktioner for at sikre, at du modtager din ordre uden unødvendige forsinkelser.
</p>
<p>
Hvis en pakke returneres til os på grund af manglende afhentning eller forkerte adresser, vil vi kontakte dig for at arrangere en ny levering. Eventuelle ekstra omkostninger forbundet med genlevering vil blive opkrævet.
</p>
<p>
Hvis du har spørgsmål eller bekymringer vedrørende leveringen, bedes du kontakte os så hurtigt som muligt på <a href="mailto:nielsjuel.njp@gmail.com">nielsjuel.njp@gmail.com</a>.
</p>

<h3>Digitale produkter</h3>
<p>
Leveres via download eller email umiddelbart efter køb.
</p>
<p>
For digitale produkter, der leveres via download, vil du modtage en email med instruktioner og et link til at downloade produktet umiddelbart efter gennemført køb. Det er vigtigt at følge disse instruktioner for at få adgang til dit digitale produkt uden forsinkelser.
</p>
<p>
Hvis du har problemer med at downloade eller få adgang til dit digitale produkt, bedes du kontakte os så hurtigt som muligt på <a href="mailto:nielsjuel.njp@gmail.com">nielsjuel.njp@gmail.com</a>.
</p>

<h3>Billetter</h3>
<p>
Billetter leveres digitalt eller fysisk afhængigt af arrangementet.
</p>
<p>
For billetter til arrangementer, der leveres digitalt, vil du modtage en email med dine billetter umiddelbart efter gennemført køb. Det er vigtigt at gemme denne email og have dine billetter klar ved indgangen til arrangementet.
</p>
<p>
For billetter, der leveres fysisk, vil de blive sendt til den adresse, du har angivet ved bestilling. Leveringstiden for fysiske billetter kan variere afhængigt af arrangementets dato og din placering, så det er vigtigt at bestille i god tid for at sikre, at du modtager dine billetter før arrangementet.
</p>
<p>
Hvis du har spørgsmål eller bekymringer vedrørende leveringen af dine billetter, bedes du kontakte os så hurtigt som muligt på <a href="mailto:nielsjuel.njp@gmail.com">nielsjuel.njp@gmail.com</a>.
</p>

<button class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700" id="closeModal" (click)="toggle()">Close</button>
  </div>
</div>