<span *ngIf="basket().lines.length > 0 && !isChecked" [class.error]="hasCheckoutBeenClicked" (click)="openModal()" animate.enter="enter-animation-checkout" animate.leave="leaving-animation-checkout">Du skal acceptere salgs og leveringsbetingelserne, før du kan gennemføre et køb</span>
<div *ngIf="basket().lines.length > 0;" class="checkout-button gap-8" animate.enter="enter-animation-checkout" animate.leave="leaving-animation-checkout">    
    <div class="terms gap-8">
    <label [class.error]="hasCheckoutBeenClicked" class="label">
        <span (click)="openModal()">Accepter salgs og leveringsbetingelser</span>
    </label>
    <label [class.error]="hasCheckoutBeenClicked" class="checkmark">
        <input type="checkbox" [(ngModel)]="Checked">
        <span></span>
    </label>
    </div>
    <button [class.disabled]="!basket().lines.length || !isChecked" *ngIf="basket().lines.length > 0;" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700" [disabled]="!basket().lines.length" (click)="handleCheckout()">Gå til kassen</button>
</div>

<app-terms-modal [currentShow]="ShowModal()" (currentShowChange)="this.ShowModal.set($event)"></app-terms-modal>