/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

  app-home, app-post {
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 1rem;*/
    box-sizing: inherit;
    position: relative;
    text-align: justify;
  }

  body {
    text-align: justify;
  }

  a {
    color: #3e82bd !important;
    text-decoration: none;
    text-align: left;
  }

  p {
  margin-bottom: 1rem;
  text-align: justify;
  }

  .breadcrumb {
    margin-top: 1.5rem !important;
    text-align: justify;
  }

  h1, h2, h3 {
    text-align: left;
  }

  label {
    white-space: nowrap;
    text-align: left !important;
  }

  @media screen and (min-width: 768px) {

    main {
      /*min-width: 768px;*/
    }

  }

  @media screen and (max-width: 650px) {

    main {
      /*min-width: 90vw;*/
    }

    .divider {
        height: 1px;
        /*width: 87vw !important;*/
        background: var(--red-to-pink-to-purple-horizontal-gradient);
        /*margin-block: 0rem !important;*/
    }


  }