<div *ngIf="post$ | async as post; else loading" class="breadcrumb content flex flex-col gap-4">
      <a routerLink="/" class="hover:underline">← Tilbage til forsiden</a>
</div>
<main *ngIf="post$ | async as post; else loading" class="container topc mx-auto max-w-3xl p-8 flex flex-col gap-4">
  <h1 class="text-2xl font-bold mb-0">{{ post.title }}</h1> 
</main>
<main *ngIf="post$ | async as post; else loading" class="container mx-auto max-w-3xl p-8 flex flex-row gap-4">
     
    <div class="left-side">
      <p class="font-bold">Pris: {{ post.price }},00 DKK <button class="button px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Køb</button></p>
      <img class="aspect-video rounded-xl" *ngIf="post.image && slug!='plakat-saelges'" [src]="urlFor(post.image).width(550).height(310).url()" width="550" height="310" />
      <img class="rounded-xl" *ngIf="post.image && slug=='plakat-saelges'" [src]="urlFor(post.image).url()" />
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
      <p *ngFor="let blok of content(post)" class="prose">
        {{ blok.content }}
      </p>
      <div class="prose">
        <p>
          Publiceret: {{ post?.publishedAt | date }}
        </p>
      </div>
      </div>
      
      
</main>

<ng-template #loading>
  <p>Post not found...</p>
</ng-template>