button {
    width: 100px;
    margin-left: 5px;
}
.left-side {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    max-width: 50%;
}
.right-side {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    max-width: 50%;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
}

main {
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
}

.topc {
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
}

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0rem;
  }

  img {
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #e5e7eb;
  }

  .ripple-btn {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  transition: transform 120ms ease;
}

/* press “bounce” */
.ripple-btn:active {
  transform: scale(0.92);
}

/* ripple element */
.ripple-btn::after {
  content: "";
  position: absolute;
  left: var(--x, 50%);
  top: var(--y, 50%);
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 9999px;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
}

/* trigger animation */
.ripple-btn.ripple::after {
  animation: ripple 600ms ease-out;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }
  100% {
    transform: scale(25);
    opacity: 0;
  }
}

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      /*width: max-content;*/
    }
    .container {
        flex-direction: column;
    }

    .left-side, .right-side {
        max-width: 100%;
    }

    .p-8 {
    padding-top: 2rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    }

    app-post {
        padding-top: 0rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
    }

    .breadcrumb {
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 0rem;
        padding-left: 1rem;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }