<main *ngIf="hasLoaded" class="container mx-auto max-w-3xl p-8">
      <h1 class="text-2xl font-bold mb-8">Velkommen til Færøsk Scenekunst i Esbjerg!</h1>
      <p>Foreningen har til formål at fremme og støtte færøsk scenekunst i Esbjerg kommune.</p>
      <p>Vi arrangerer koncerter, forestillinger, workshops og andre kulturelle begivenheder for at bringe det bedste af færøsk scenekunst til Esbjerg og omegn.</p>
      <p>Hold øje med vores kommende arrangementer, og støt vores arbejde, ved at deltage i vores events og dele vores budskab!</p>
      <p>Tak for din interesse i færøsk scenekunst, og vi håber at se dig snart!</p>
      
      <h2 class="text-xl font-bold mt-8 mb-4">Andre måder at støtte os på</h2>
      <ul class="flex flex-col gap-y-4">
        
        <li *ngFor="let post of posts$ | async" class="hover:underline">
          <a [routerLink]="['/salg/', post.slug.current]">
            <h2 class="text-xl font-semibold">{{ post.title }}</h2>
           <p>{{ post.description }}</p>
            <img class="aspect-video rounded-xl crop" *ngIf="post.image" [src]="urlFor(post.image)" width="100%" />
          </a>
        </li>
      </ul>
    </main>