<div class="checkout-container">
<div class="checkout-left checkout-payment">

<div *ngIf="store.order() as o" class="payment-page">

  <h1>Order overview</h1>

  <!-- ITEMS -->
  <div class="box">
    <h2>Items</h2>

    <div *ngFor="let item of o.lines">
      <div>
        {{ item.productName }} (x{{ item.quantity }})
        <span>
          {{ item.unitPrice * item.quantity }} {{ o.currency }}
        </span>
      </div>
    </div>
  </div>

  <!-- ADDRESSES -->
  <div class="box">
    <h3>Invoice address</h3>
    <p>
      {{ o.invoiceAddress.name }}<br />
      {{ o.invoiceAddress.street }}<br />
      {{ o.invoiceAddress.zipCode }} {{ o.invoiceAddress.city }}<br />
      {{ o.invoiceAddress.country }}
    </p>
  </div>

  <div class="box">
    <h3>Delivery address</h3>
    <p>
      {{ o.deliveryAddress.name }}<br />
      {{ o.deliveryAddress.street }}<br />
      {{ o.deliveryAddress.zipCode }} {{ o.deliveryAddress.city }}<br />
      {{ o.deliveryAddress.country }}
    </p>
  </div>

  <!-- TOTALS -->
  <div class="box total">
    <div>Subtotal: {{ subtotal() }} {{ o.currency }}</div>
    <div>Shipping: {{ shipping }} {{ o.currency }}</div>
    <strong>Total: {{ total() }} {{ o.currency }}</strong>
  </div>

  <!-- PAYMENT -->
  <button (click)="payWithViva()">
    Pay with Viva Wallet
  </button>

</div>

</div>
</div>