
  <main class="main p-8 gap-4">
    <div class="content mx-auto max-w-13xl flex flex-row gap-4">
      <div class="left-side">
        <a routerLink="/" class="hover:underline">
        <img src="logo2.jpg" alt="Færøsk Scenekunst i Esbjerg Logo" class="logo" />
        </a>
      </div>
      <div class="divider" role="separator" aria-label="Divider"></div>
      <div class="right-side">
        <a routerLink="/" class="hover:underline">
        <p class="h1-header h1 text-2xl font-bold mb-4">Færøsk Scenekunst i Esbjerg</p>
        <p>Forening med formål at fremme færøsk scenekunst i Esbjerg. 🎉</p>
        </a>
      </div>
    </div>
    <div class="divider divider-horizontal horizontal" role="separator" aria-label="Divider"></div>
    <div class="top-basket" *ngIf="hasLines && !IsCheckoutRoute" class="basket-top">
      <app-basket-small-component></app-basket-small-component>
    </div>
    <div class="main-container container mx-auto max-w-13xl flex flex-row gap-4">
    <div class="left-side">
    <router-outlet />
    </div>
    <div *ngIf="hasLines && !IsCheckoutRoute" class="basket right-side basket-area">
      <app-basket-small-component></app-basket-small-component>
    </div>
    </div>
    <div class="divider divider-horizontal horizontal" role="separator" aria-label="Divider"></div>
    <footer class="footer container mx-auto max-w-13xl flex flex-row gap-4">
      <div class="container mx-auto max-w-3xl p-8">
        <p>&copy; {{ currentYear }} Færøsk Scenekunst i Esbjerg. Alle rettigheder forbeholdes.</p>
        <nav class="mt-4">
          <a routerLink="/privatlivspolitik" class="hover:underline">Privatlivspolitik</a> |
          <a routerLink="/cookiepolitik" class="hover:underline">Cookiepolitik</a> |
          <a routerLink="/billetbetingelser" class="hover:underline">Event- og billetbetingelser</a> |
          <a routerLink="/handelsbetingelser" class="hover:underline">Handelsbetingelser</a>
        </nav>
      </div>
    </footer>
  </main>




